<%
  var iconType = 'bed';
  var iconSize = 16;
  var iconColor = 'currentColor';
  var isInline = false;
  var additionalClass = '';
  
  if (type) iconType = type;
  if (size) iconSize = size;
  if (color) iconColor = color;
  if (inline) isInline = true;
  if (class) additionalClass = class;
  
  // Get icon path from theme system
  var iconPath = '/icons/icon_' + iconType + '.svg';
  if (getIconPath) {
    iconPath = getIconPath(iconType);
  }
  
  // Build class string
  var classParts = ['icon', 'icon-' + iconSize];
  if (isInline) classParts.push('icon-inline');
  classParts.push('icon-mask', 'icon-' + iconType);
  if (additionalClass) classParts.push(additionalClass);
  var classes = classParts.join(' ');
%>
<span 
  class="<%= classes %>" 
  style="color: <%= iconColor %>; --icon: url('<%= iconPath %>');"
  aria-hidden="true"
></span>
